.thumbnail{
    border-radius: 8px;
    size: 50px;
}
.text-dim{
    color: #aaaaaa;

}
.img-fluid {
    height: 160px;
    width: 300px;
}
.channel-logo{
    max-width: 40%;
    height:40%;
    size-adjust: 50%;
    border-radius: 50%;

}
.navbar-brand {
  color:whitesmoke;
}


    /* Adjust the styling as per your requirements */
    .sidebar {
        height: 100vh;
        background-color: #060606;
        padding: 30px;
      }
  
      .sidebar-heading {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
  
      .list-group-item {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 8px 14px;
        color: #0c8fd6;
        font-weight: bold;
      }
